In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [22]:
df = pd.read_csv('/Users/eshanakshata/Desktop/delivery_time.csv')

In [23]:
df

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [24]:
#drop th missing values
df.dropna()

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [25]:
# Split the data into X (Sorting Time) and y (Delivery Time)
X = df[['Sorting Time']]
y = df['Delivery Time']

In [26]:
# Build a linear regression model
lr_model = LinearRegression()
lr_model.fit(X, y)
y_pred = lr_model.predict(X)

In [27]:
# Calculate the RMSE for the initial model
rmse_initial = np.sqrt(mean_squared_error(y, y_pred))
print(f"RMSE (initial model): {rmse_initial}")

RMSE (initial model): 2.7916503270617654

In [28]:
# Apply logarithmic transformation
X_log = np.log1p(X)
lr_model_log = LinearRegression()
lr_model_log.fit(X_log, y)
y_pred_log = lr_model_log.predict(X_log)
rmse_log = np.sqrt(mean_squared_error(y, y_pred_log))
print(f"RMSE (log transformation): {rmse_log}")

RMSE (log transformation): 2.7259639698692535

In [29]:
# Apply square root transformation
X_sqrt = np.sqrt(X)
lr_model_sqrt = LinearRegression()
lr_model_sqrt.fit(X_sqrt, y)
y_pred_sqrt = lr_model_sqrt.predict(X_sqrt)
rmse_sqrt = np.sqrt(mean_squared_error(y, y_pred_sqrt))
print(f"RMSE (sqrt transformation): {rmse_sqrt}")

RMSE (sqrt transformation): 2.731543210091211

In [30]:
#Both the logarithmic and square root transformations result in slightly lower RMSE values compared to the initial model. 
#This suggests that these transformations may improve the model's performance in predicting delivery time based on sorting time. 
#However, the improvements are relatively small